﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var video = (company.Models.MArVideo)ViewBag.video;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form action="/Settings/ArVideo" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Upload Your AR Video</label>
                    <input type="file" class="form-control-file" name="file" multiple accept="video/mp4" required id="file">
                    <small>This is the video that will appear over the logo when scanned, upload only mp4 files max size is 4MB</small>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="btn">Submit</button>
                </div>
            </form>

        </div>
    </div>

    <hr />

    @if (video.ArVideo != null)
    {
        <div class="row">
            <div class="col-md-12">
                <video width="320" height="240" controls>
                    <source src="/Settings/GetVideo?video_path=@video.ArVideo" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <button class="btn btn-danger" onclick="confirm_delete('@video.Id')">Delete video</button>
        <small id="info" style="color:red;"></small>
    }
</div>


<script>
    function confirm_delete(id) {
        $.confirm({
            content: 'Delete this video?',
            title: 'Confirmation',
            type: "red",
            buttons: {
                yes: function () {
                    window.location = '/Settings/DeleteARVideo/' + id;
                },
                cancel: function () {
                }
            }
        });
    }

    //check file size before uploading
    $('#file').bind('change', function () {

        //file
        var file = this.files[0];
        //extension
        var extension = file.name.substr( (file.name.lastIndexOf('.') +1) );
        //size
        var size = file.size;

        //validate file extension
         if (extension != "mp4") {//mp4 only
            $("#btn").attr("disabled", true);
            $.alert({
                title: 'Alert!',
                content: 'File extension must be .mp4',
            });
             $("#info").html("File extension must be .mp4");
             return;
        } else {
            $("#btn").attr("disabled", false);
            $("#info").html("");
        }

        //validate size
        if (size >= 52428800) {//5MB
            $("#btn").attr("disabled", true);
            $.alert({
                title: 'Alert!',
                content: 'File size Exceeds 4MB',
            });
            $("#info").html("File size Exceeds 4MB");
        } else {
            $("#btn").attr("disabled", false);
            $("#info").html("");
        }
    });


</script>
