﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var company = (company.Models.MCompany)ViewBag.company;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form action="/Settings/CompanyName" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" name="Name" class="form-control" required value="@company.Name" />
                    <small>This name will appear on the app</small>
                </div>
                <div class="form-group">
                    <label>Company Tag line</label>
                    <input type="text" name="CompanySlogan" class="form-control" required value="@company.CompanySlogan" />
                    <small>This name will appear on the app as the tagline</small>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="btn">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>