﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var company = (company.Models.MCompany)ViewBag.company;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form action="/Settings/CompanyLogo" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Upload CompanyLogo</label>
                    <input type="file" class="form-control-file" name="file"  accept=".png, .jpg, .jpeg"  required id="file">
                    <small>This is the logo that will appear to the app user when viewing your company profile, upload 120x120 image</small>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="btn">Submit</button>
                </div>
            </form>

        </div>
    </div>

    <hr />
    @if (!string.IsNullOrEmpty(company.CompanyIcon))
    {
        <div class="row">
            <div class="col-md-12">
                <img src="/Settings/GetPicture?image_path=@company.CompanyIcon" height="120" width="120" style="object-fit:cover" />
            </div>
        </div>
        <br />
        <button class="btn btn-danger" onclick="confirm_delete('@company.Id')">Delete icon</button>
    }
    <small id="info" style="color:red;"></small>
</div>


<script>
    function confirm_delete(id) {
        $.confirm({
            content: 'Delete this icon?',
            title: 'Confirmation',
            type: "red",
            buttons: {
                yes: function () {
                    window.location = '/Settings/DeleteCompanyLogo/' + id;
                },
                cancel: function () {
                }
            }
        });
    }

    //check file size before uploading
    $('#file').bind('change', function () {

        //file
        var file = this.files[0];
        //extension
        var extension = file.name.substr((file.name.lastIndexOf('.') + 1));
        //size
        var size = file.size;
        console.log('size', size);
        console.log('extension', extension);
        console.log('file', file);

        //validate file extension
        if (extension == "jpeg" || extension == "jpg" || extension == "png") {//images only
            $("#btn").attr("disabled", false);
            $("#info").html("");
            //continue
        } else {
            //stop
            $("#btn").attr("disabled", true);
            $.alert({
                title: 'Alert!',
                type: "red",
                content: 'File extension must be [.jpeg .jpg or .png]',
            });
            $("#info").html("File extension must be [.jpeg .jpg or .png]");
            return;
        }

    });


</script>
