﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var logos = (List<company.Models.MScannableLogos>)ViewBag.logos;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form action="/Settings/Logos" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Upload Your logos</label>
                    <input type="file" class="form-control-file" name="files" multiple accept="image/*" required>
                    <small>This is the logo that will be scanned by the client's app, upload the same (multiple) logos taken from different angles</small>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>

        </div>
    </div>

    <hr />

    <div class="row">
        @foreach (var logo in logos)
        {
            <div class="col-md-3">
                <div class="card border-primary mb-3">
                    <a href="#" title="delete" style="margin:10px;" onclick="confirm_delete('@logo.Id'); return false;">
                        <i class="fa fa-trash" style="color:red;"></i>
                    </a>
                    <div class="card-body" style="padding:0px!important;margin:0px!important;">
                        <img src="/Settings/GetPicture?image_path=@logo.ScannableLogo" style="height:200px;width:100%;margin:auto;object-fit:cover;" />
                    </div>
                </div>
            </div>
        }
    </div>

</div>


<script>
    function confirm_delete(id) {
        $.confirm({
            content: 'Delete this image?',
            title: 'Confirmation',
            type:"red",
            buttons: {
                yes: function () {
                    window.location='/Settings/DeleteLogo/' + id;
                },
                cancel: function () {
                }
            }
        });
    }
</script>