﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@*chart*@
<link href="/libs/chart_js/Chart.min.css" rel="stylesheet" />
<script src="/libs/chart_js/Chart.min.js"></script>

<style>
    .top {
        box-shadow: 0px 0px 5px #808080;
    }
</style>
<div class="container">

    <div class="top" style="height:50vh;">
        <div id="map" style="height:100%;width:100%;"></div>
    </div>
    <br />

    <div class="bottom" style="height:40vh;">
        <div class="row">

          the dashboard

        </div>
    </div>
</div>


<script>
    function initMap() {
        //lat long for harare cbd
        var myLatLng = { lat: -17.8277206, lng: 31.0533695 };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: myLatLng
        });
        var infowindow = new google.maps.InfoWindow(); /* SINGLE */
        

    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQrtU5y53d68uzWEsykk62vhtd2UDwTZY&callback=initMap"
        async defer></script>

@*graph*@
<script>

    window.chartColors = {
        red: 'rgba(255,0, 0,1)',
        orange: 'rgba(255, 159, 64,1)',
        yellow: 'rgba(255, 205, 86,1)',
        green: 'rgba(75, 192, 192,1)',
        blue: 'rgba(0, 0, 255,1)',
        purple: 'rgba(153, 102, 255,1)',
        black: 'rgba(0, 0, 0,1)'
    };

    var balance_color = window.chartColors.blue;
    var used_color = window.chartColors.black;
    if (@ViewBag.total_balance< 0) {
         balance_color = window.chartColors.red;
    }

    var data = {
        datasets: [{
            data: [@ViewBag.total_balance, @ViewBag.total_used],
            backgroundColor: [
                balance_color,
                used_color
            ]
        }],
        labels: [
            'Balance',
            'Used',
        ],

    };
    var ctx = $("#ctx");
    // And for a doughnut chart
    var myDoughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: data,
        //options: options
    });
</script>
