﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var companys = (List<admin.Models.MCompany>)ViewBag.companys;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in companys)
                    {
                        <tr>
                            <td>
                                <img src="/Company/GetPicture?image_path=@item.CompanyIcon" height="20" width="20" style="border-radius:100px" />
                            </td>
                            <td title="@item.Name">@item.Name</td>
                            <td title="@item.Email">@item.Email</td>
                            <td title="@(item.Status==1?"Active":"Not Active")">@(item.Status == 1 ? "Active" : "Not Active")</td>
                            <td>
                                <a href="/Company/EditCompany/@item.Id" style="color:blue;">
                                    Open
                                </a> |
                                <a href="javascript:void(0);" onclick="confirm_delete('@item.Id'); return false;" style="color:red;">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this company?',
            buttons: {
                Yes: function () {
                    window.location = "/Company/DeleteCompany/" + id;
                },
                No: function () {
                },

            }
        });

    }

</script>