﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="/Company/CreateNewCompany/" style="width:50%; margin:auto;">

                <div class="form-group">
                    <label class="form-control-label">Name</label>
                    <input required type="text" class="form-control" name="Name">
                </div>


                <div class="form-group">
                    <label class="form-control-label">Email</label>
                    <input required type="email" class="form-control" name="Email">
                </div>


                <div class="form-group">
                    <label class="form-control-label">Default Password</label>
                    <input required type="text" class="form-control" name="password" value="Password@123">
                </div>

                <div class="form-group">
                    <label class="form-control-label">Status</label>
                    <select class="form-control" name="Status">
                        <option value="1">Active</option>
                        <option value="0">Not Active</option>
                    </select>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

