﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var company = (admin.Models.MCompany)ViewBag.company;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="/Company/EditCompany" style="width:50%; margin:auto;">

                <input required type="hidden" class="form-control" name="Id" value="@company.Id">

                <div class="form-group">
                    <label class="form-control-label">Name</label>
                    <input required type="text" class="form-control" name="Name" value="@company.Name">
                </div>

                <div class="form-group">
                    <label class="form-control-label">Email</label>
                    <input required type="email" class="form-control" name="Email" value="@company.Email" readonly style="background:#ede8e8;">
                    <small style="color:red;">Email cannot change</small>
                </div>

                <div class="form-group">
                    <label class="form-control-label">Status</label>
                   <select class="form-control" name="Status">
                       <option value="1" selected="@(company.Status==1)">Active</option>
                       <option value="0" selected="@(company.Status==0)">Not Active</option>
                   </select>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

