﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var posts = (List<company.Models.MPosts>)ViewBag.posts;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in posts)
                    {
                        <tr>
                            <td title="@item.Date.ToString("yyyy-MM-dd")">@item.Date.ToString("yyyy-MM-dd")</td>
                            <td title="@item.Title">@item.Title</td>
                            <td>
                                <a href="/Posts/CreateNewPost/@item.Id" style="color:blue;">
                                    Open
                                </a> |
                                <a href="#" onclick="confirm_delete('@item.Id'); return false;" style="color:red;">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this post?',
            buttons: {
                Yes: function () {
                    window.location = "/Posts/DeletePost/" + id;
                },
                No: function () {
                },

            }
        });

    }

</script>