﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var post = (company.Models.MPosts)ViewBag.post;
}
@*ckeditor*@
<script src="~/libs/ckeditor/ckeditor.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="card bg-light mb-3" style="max-width: 80%;margin:auto;">
                <div class="card-header">
                    <h4>Edit post</h4>
                </div>
                <div class="card-body">
                    <form action="/Posts/CreateNewPost" method="post" enctype="multipart/form-data">
                        <input type="hidden" class="form-control" name="Id" value="@post.Id" />
                        <input type="hidden" class="form-control" name="Date" value="@post.Date" />

                        <h4 class="card-title">
                            <input type="text" class="form-control" name="Title" placeholder="Title" required value="@post.Title" />
                        </h4>

                        <div class="form-group">
                            <label>Cover image</label>
                            <input type="file" class="form-control-file" name="cover_image">
                        </div>

                        @if (!string.IsNullOrEmpty(post.CoverImage))
                        {
                            <div class="form-group">
                                <img src="/Settings/GetPicture?image_path=@post.CoverImage" style="height:auto;width:100%;" />
                            </div>
                        }

                        <div class="form-group">
                            <textarea name="Content" id="editor" style="min-height:300px;width:100%;">@post.Content</textarea>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                        </div>


                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
            heading: {
                options: [
                    { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                    { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                    { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
                ]
            }
        })
        .catch(error => {
            console.error(error);
        });
</script>